.divInputs{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 3rem 0;

    
}
.divInputs *{
    border: 2px solid;

}



input{
    padding-bottom: 5px;
    width: 500px;
}

.inputMessage{
    padding-bottom: 350px;
    width:500px; 
}

button{
    width:200px;
    height: 50px; 
}